<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nueva entrada</h3>
        </div>
        <div class="card-body">
            <form action="/">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Título" autofocus>
                    <div class="form-group">
                        <textarea name="description" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="container">
                        <section id="images" class="image-card">
                            <div class="row">
                                <div class="add-new-image" id="photo">
                                    <span><i class="icon-camera"></i></span>
                                </div>
                                <input type="file" multiple id="add-new.image" name="Image[]">
                            </div>
                        </section>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>