<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diario Online</title>
    <link rel="stylesheet" href="src/public/js/bootstrap.css">
    <link rel="stylesheet" href="src/public/css/main.css">
    <!-- FONT OSWALD -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>

<body onload="startTime()">
    <!--   NAVBAR   -->
    <nav class="navbar navbar-expand-sm navbar-dark btn-danger">
        <div class="container-fluid" id="ribbon">
            <div class="container w-50 pl-5" id="birthday">

                <div class="row align-items-center">
                    <div class="clockdate">
                        <span id="time"></span>
                        <span id="date"></span>
                    </div>

                    <!-- HORA & FECHA-->
                    <script>
                        function startTime() {
                            var today = new Date(), hours = today.getHours(), minutes = today.getMinutes(),
                                date = today.getDate(), day = today.getDay(), month = today.getMonth();

                            hours = (hours == 0) ? 12 : hours;
                            hours = (hours > 12) ? hours - 12 : hours;

                            hours = checkTime(hours);
                            minutes = checkTime(minutes);

                            var dia = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                                mes = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

                            var hr = document.getElementById('time').innerHTML = hours + ":" + minutes,
                                dt = document.getElementById('date').innerHTML = dia[day] + ", " + date + " De " + mes[month];

                            var time = setTimeout(function () { startTime(); }, 500);
                        }

                        function checkTime(e) {
                            if (e < 10) {
                                e = "0" + e;
                            }
                            return e;
                        }
                    </script>

                    <div>
                        <h1>Diario Online Juvenil</h1>
                    </div>

                    <div>
                        <img src="img/tecnologia.jpg" alt="" width="200">
                    </div>

                    <div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toogle navigation">

                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Internacional</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Nacional</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Tlaxcala</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Nativitas</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Deportes</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Actualidad</a></li>
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </nav>

    {{{ body }}}

    <p>Footer</p>

    <script src="src/public/js/popper.min.js"></script>
    <script src="src/public/js/bootstrap.min.js"></script>
</body>

</html>